{% extends 'base.html' %}
{%load static%}
<body>
    {% block content %}
    <div class="main-content">
        <div class="container">
            <div ><h3>Level 1 / Word N°1:</h3></div>
            <h3>Recordings : </h3>
            {% for audio_file in audio_files %}
                {% if forloop.counter > 60 %}
                    <p>The word number {{ forloop.counter|add:"-60" }} - The score : {{ audio_file.score }} %</p>
                    <audio controls>
                        <source src="{{ audio_file.audio.url }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>