{% extends 'base.html' %}
{%load static%}
<body>
    {% block content %}
    <div class="main-content">
        <div><h3 class="Font">Level {{word.level}} / Word N°{{word.id}}:</h3></div>
        <h2 class="Font">{{word}}</h2>

        <div class="button-group">
            <button id="listenButton" onclick="playAudio('{{file_path}}'); toggleListening('listenButton')">Listen</button>
            <button id="recordButton">Record</button>
        </div>
        <br />
        <audio id="audioPlayback" controls></audio>
        <audio id="audioPlayback" controls style="display: none"></audio>
    </div>
    
    <script>
        const recordButton = document.getElementById('recordButton');
        const audioPlayback = document.getElementById('audioPlayback');
        let mediaRecorder;
        let audioChunks = [];
        let isRecording = false;

        recordButton.addEventListener('click', async () => {
            if (!isRecording) {
                let stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.start();
                recordButton.textContent = 'Stop';
                isRecording = true;
                audioChunks = [];

                mediaRecorder.ondataavailable = (event) => {
                    audioChunks.push(event.data);
                };
                const savePath = '/static/recordings/'; 
                mediaRecorder.onstop = () => {
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' }); 
                    const audioUrl = URL.createObjectURL(audioBlob);
                    audioPlayback.src = audioUrl;

                    saveAndRedirect(audioBlob);
                };
            } else {
                mediaRecorder.stop();
                recordButton.textContent = 'Record';
                isRecording = false;
            }
        });
    </script>
    {% endblock %}
</body>




