{% extends 'main/base.html' %}
{%load static%}
<body>
    {% block content %}
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
          <div class="col-6 mx-auto tm-login-col">
            <div class="tm-bg-primary tm-block tm-block-h-auto" style="background-color: white;border: none; box-shadow: none; border-radius: 10px; ">
              <div class="row">
                <div class="col-12 text-center">
                  <h2 class="tm-block-title mb-4" style="color:gray" >Hello ! who are you </h2>
                  <img src="{% static 'images\welcome.png'%}">
                </div>
              </div>
              
              <form action="{% url 'loginPage' %}" method="post">
                {% csrf_token %}
                    <div class="form-group mt-4">
                      <button type="submit" class="bouton btn-warning text-white btn-block text-uppercase">Orthophoniste </button>
                    </div>
                    
              </form>
              <form action="{%  url 'loginPageChild' %}" method="post">
                {% csrf_token %}
                    <div class="form-group mt-4">
                      <button type="submit" class="bouton btn-warning text-white btn-block text-uppercase ">child </button>
                    </div>
                    
              </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
</body>
