{% load static %}
<header class="navbar sticky-top flex-md-nowrap" style="height: 50px; padding: 0;">
  <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
      <a class="navbar-brand" href="{%  url 'home' %}">
          <i class="bi-box"></i>
          LEXILEARN
      </a>
  </div>
</header>
{%if request.user.is_authenticated %}
    {%if request.user.is_staff%}
      
         
{% block content %}
    
        <div class="container-fluid" >
            <class class="row">
                <nav id="sidebarMenu" class=" d-md-block sidebar collapse ">
                    <div class="position-sticky py-4 px-3 sidebar-sticky">
                        <ul class="nav flex-column h-100">
                            {% url 'welcomeO' as home_url %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{{ home_url }}">
                                    <i class="bi-house-fill me-2"></i>
                                    Overview
                                </a>
                            </li>

                            <li class="nav-item" style="margin-top: 10px;">
                                <a class="nav-link" href="#">
                                    <i class="far fa-file-alt"></i>
                                    Reports </i> 
                                </a>
                            </li>
                            {% url 'accounts' as accounts_url %}
                            <li class="nav-item" style="margin-top: 10px;">
                                <a class="nav-link {% if request.path == accounts_url %}active{% endif %}" href="{{ accounts_url }}">
                                    <i class="fas fa-users"></i> Accounts
                                </a>
                            </li>

                            <li class="nav-item" style="margin-top: 10px;">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-user"></i>
                                     Profile 
                                </a>
                            </li>

                
                            <li class="nav-item border-top mt-auto pt-2" >
                            <a class="nav-link" href="{% url 'logout' %}">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    {{request.user.username}}, <b>Logout</b>
                                </a>
                        
                            </li>
                        </ul>
                    </div>
                </nav>
                </class>
                </div>
                

{%endblock%}
        
        

    {% elif request.user.is_staff == False and request.user.is_active %}
    <div class="container-fluid" >
      <class class="row">
          <nav id="sidebarMenu" class=" d-md-block sidebar collapse ">
              <div class="position-sticky py-4 px-3 sidebar-sticky">
                  <ul class="nav flex-column h-100">
                      <li class="nav-item" style="margin-top: 10px;">
                          <a class="nav-link" href="{% url 'exercicesChild' %}">
                              <i class="far fa-file-alt"></i>
                              Exercices </i> 
                          </a>
                      </li>

                      

                      <li class="nav-item" style="margin-top: 10px;">
                          <a class="nav-link" href="setting.html">
                              <i class="fas fa-user"></i>
                               Profile 
                          </a>
                      </li>

          
                      <li class="nav-item border-top mt-auto pt-2" >
                      <a class="nav-link" href="{% url 'logout' %}">
                              <i class="bi-box-arrow-left me-2"></i>
                              {{request.user.username}}, <b>Logout</b>
                          </a>
                  
                      </li>
                  </ul>
              </div>
          </nav>
          </class>
          </div>
    {% endif %}
{% endif %}