{% extends 'main/base.html' %}

{% block content %}
<body>
<div class="container mt-5">
    <div class="profile-card card">
        <div class="card-header">
            <p style="margin-top: 30px;"><strong> {{ user.username }}</strong>
        </div>
        <div class="card-body">
                <p><strong>Child Name:</strong> {{ user.username }}</p>
                <p><strong>Date of Birth:</strong> {{ child.date_of_birth }}</p>
                <p><strong>Phone Number:</strong> {{ child.phone_number }}</p>
                <p><strong>Age:</strong> {{ age }}</p>
                <div class="card-body">
                    <h1>Word List by Level</h1>
        <ul>
            {% for level, words in words_by_level.items %}
                <li>
                    <h2 class="clickable" onclick="toggleWords('{{ level }}')" style="cursor: grab;">
                        Level {{ level }}
                        <i class="fas fa-chevron-down"></i>
                    </h2>
                    <ul id="words_{{ level }}" style="display: none;">
                        {% for word in words %}

                            <li>{{ word }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
                </div>
        </div>
    </div>
</div>
<script>
    function toggleWords(level) {
        var wordsElement = document.getElementById('words_' + level);
        if (wordsElement.style.display === 'none') {
            wordsElement.style.display = 'block';
        } else {
            wordsElement.style.display = 'none';
        }
    }
</script>
</body>
{% endblock %}
