{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5 class="card-title mb-0 text-white">Profile Information</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <i class="bi bi-person"></i> <strong>Username:</strong> {{ user.username }}
                            </div>
                            <div class="mb-3">
                                <i class="bi bi-calendar"></i> <strong>Date of Birth:</strong> {{ child.date_of_birth }}
                            </div>
                            <div class="mb-3">
                                <i class="bi bi-telephone"></i> <strong>Phone Number:</strong> {{ child.phone_number }}
                            </div>
                            <div class="mb-3">
                                <i class="bi bi-broadcast-pin"></i> <strong>Age:</strong> {{ child.age }}
                            </div>
                            <div class="mb-3">
                                <i class="bi bi-calendar-check"></i> <strong>Date Joined:</strong> {{ user.date_joined }}
                            </div>
                            <div class="mb-3">
                                <i class="bi bi-door-open"></i> <strong>Last Login:</strong> {{ user.last_login }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'select_words' %}" class="btn btn-danger btn-block">
                                <i class="bi bi-book"></i> View Exercices and Progress
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
