{% extends 'main/base.html' %}

{% block content %}
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-6 mx-auto tm-login-col">
            <div class="tm-bg-primary tm-block tm-block-h-auto" style="background-color: white;border: none; box-shadow: none; border-radius: 10px; color: gray; ">
                <div class="row">
                    <div class="col-12 text-center">
                        {%if request.user.is_staff%}
                            <h2 class="tm-block-title mb-4" style="color:gray;"> Add child</h2>
                        {%else%}
                            <h2 class="tm-block-title mb-4" style="color:gray;"> Register</h2>
                        {%endif%}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <form method="post" class="tm-login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username" style="color:gray;">Username:</label>
                                <input name="username" type="text" class="input validate" id="username" required>
                            </div>
                            {%if request.user.is_staff == False%}
                            <div class="form-group mt-3">
                                <label for="email" style="color:gray;">Email:</label>
                                <input name="email" type="email" class="input validate" id="email" required>
                            </div>
                            {%endif%}
                            
                            <div class="form-group mt-3">
                                <label for="password" style="color:gray;">Password:</label>
                                <input name="password" type="password" class="input validate" id="password" required>
                            </div>
                            {%if request.user.is_staff%}
                            <div class="form-group mt-3">
                                <label for="date_of_birth" style="color:gray;">Date de naissance:</label>
                                <input name="date_of_birth" type="date" class="input validate" id="date_of_birth" required>
                            </div>
                            <div class="form-group mt-3">
                                <label for="phone_number" style="color:gray;">Numéro de téléphone :</label>
                                <input name="phone_number" type="text" class="input validate" id="phone_number" required>
                            </div>
                                <div class="form-group mt-4">
                                    <button type="submit" class="bouton btn-danger text-white btn-block text-uppercase">Create child</button>
                                </div>
                            {%else%}
                                                                
                                <div class="form-group mt-4">
                                    <button type="submit" class="bouton btn-danger text-white btn-block text-uppercase">Register</button>
                                </div>
                            {%endif%}
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>